<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	version="5.0">
	<display-name>Jersey REST API</display-name>

	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer
		</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.ravi.authentication,com.ravi.resource,com.ravi.databaseHM,com.ravi.entity,com.ravi.exception,com.ravi.logging
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
</web-app>
